
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav a.active {
    font-weight: bold;
    color: blue;
  }